.trangchu{
    margin-bottom: 20px;
}
.ta{
        border: 3px solid blue;
        border-radius: 10px; 
}
.table{
    border: 3px  solid rgb(0, 255, 55);
    border-radius: 10px; 
    
}
.tr{
    border: 3px solid palevioletred;
    border-radius: 10px;
}
.tableq {
    border: 3px solid rgb(198, 238, 18);
    border-radius: 10px; 
}
.tablex {
    border: 4px solid rgb(5, 222, 238);
    border-radius: 10px; 
}
td{
    border-radius: 10px;
    text-align: left;

    
}
.a{
    padding: 0%;
    text-align: right;
}
